.skills-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
  overflow: auto;
  /* background-color: coral; */
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 20px;
  /* background-color: burlywood; */
}

.skill-photo {
  width: 50px;
  height: 50px;
  margin: 0px 5px;
  padding: 5px;
  margin: 5px;
  /* background-color: aquamarine; */
  background: rgb(0, 201, 255);
  background: linear-gradient(90deg, #3498dba1 0%, #2c3e509d 100%);
}

.skill-name {
  width: auto;
  height: auto;
  margin: 5px auto;
}
