.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: auto;
}
.wrapper-skills {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(128, 128, 128, 0.541);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* height: auto; */
  margin: 15px;
  overflow: auto;
}

.languages,
.frameworks,
.tools,
.dataBases {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  /* margin: 0px 15px; */
  font-size: large;
  font-weight: bolder;
  width: auto;
  height: 120px;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 15px 20px 20px 20px;
}

.skill-photo {
  width: 50px;
  height: 50px;
  margin: 0px 5px;
  padding: 5px;
  margin: 5px;
}

.skill-name {
  width: auto;
  height: auto;
  margin: 5px auto;
}

@media screen and (max-width: 500px) {
  .languages,
  .frameworks,
  .tools,
  .dataBases {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    font-size: medium;
    font-weight: bolder;
    width: auto;
    height: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper-skills {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(128, 128, 128, 0.541);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 99%;
    margin: 15px;
    overflow: auto;
  }
}
